body{
   font-family: 'Courier New', Courier, monospace;
}
.cursor-pointer {
    cursor: pointer
}
.table-responsive {
    width: 100%;
}

  /* div.accordion-body:hover {
    transition: transform 0.5s;
    transform: scale(1.1);
    font-weight: bolder;
    color: red;
} */